@media screen and (min-width: 768px){

    .container-md{
        max-width: 720px;
    }

    .col-md-4{
        width: calc(4 * 100% / 12);
    }

    .col-md-8{
        width: calc(8 * 100% / 12);
    }

    .row{
        display: flex;
        flex-wrap: wrap;
    }

    /* MAIN - Section .hero */

    .hero div[class^="col"]{
        margin-bottom: 10px;
        padding: 10px;
    }

    .hero-card.application{
        display: flex;
    }

    .hero-card:not(.hero-card.application){
        padding: 30px;
    }

    .hero-card__header h1{
        font-size: 18px;
    }

    .hero-card__header i:not(.fa-apple){
        font-size: 50px;
    }

    .hero-card__header p,
    .hero-card__body p{
    line-height: 20px;
    margin-top: 10px;
    font-size: 12px;
    }

    .hero-card__body{
        align-self: flex-end;
    }

    .hero button{
        font-size: 10px;
        margin: 20px 0;
    }







}