*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol,menu{
    list-style: none;
}

a{
    text-decoration: none;
    color: currentColor;
}

img{
    max-width: 100%;
}

button{
    border: none;
    color: transparent;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Utilities */

.flex{
    display: flex;
}

.border-radius-24{
    border-radius: 24px;
}

.border-radius-50{
    border-radius: 50px;
}

.text-center{
    text-align: center;
}

.italic{
    font-style: italic;
}

/* Features */

button{
    color: #000000;
    padding:  10px 15px;
    border-radius: 24px;
    cursor: pointer;
}

/* Layout */

.container{
    width: 100%;
    margin: 0 auto;
}

.container-sm{
    max-width: 540px;
    margin: 0 auto;
}

.col-6{
    width: calc(6 * 100% / 12);
}

.col-12{
    width: calc(12 * 100% / 12);
}

/* Header */

.main-header{
    color: #ffffff;
    background-color: #0A84FD;
    padding: 10px 0;
}

.main-header .row{
    display: flex;
    justify-content: space-between;
}

.main-header__menu{
    display: none;
}

.main-header__menu ul{
    gap: 10px;
    line-height: 40px;
}

.main-header__menu-hamburger{
    font-size: 40px;
}

/* MAIN - Section .hero */

.hero{
    margin: 40px 0;
}

.hero div[class^="col"]{
    margin-bottom: 30px;
}

.hero button{
    margin: 30px 0;
    width: 70%;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    background-color: #0084FD;
}

.hero-card{
    background-color: #B5DDFF;
    height: 100%;
}

.hero-card:not(.hero-card.application){
    padding: 50px;
}

.hero-card.application{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.hero-card__header i:not(.fa-apple){
    font-size: 100px;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: #0084FD;
}

.hero-card__header{
    margin-bottom: 10px;
}

.hero-card__header h1{
    color: #0084FD;
    font-size: 30px;
}

.hero-card__header p,
.hero-card__body p{
    font-weight: 700;
    color: #5A6D7E;
    line-height: 30px;
    margin-top: 20px;
}

/* MAIN - Section .planning */

.planning{
    background-color: #9792E4;
    padding: 80px 0;
}

.planning__title{
    font-size: 30px;
    margin-top: 60px;
    color: #ffffff;
}

.planning__title + p{
    line-height: 30px;
    margin-top: 50px;
    color: #ffffff;
}

.planning-card{
    background-color: #ffffff;
    margin-top: 40px;
    padding: 30px 20px;
}

.planning-card__body{
    text-align: center;
    color: #000000;
}

.planning-card__body h1{
    margin-top: 20px;
}

.planning-card__body p{
    line-height: 30px;
    margin: 20px 0;
}

.planning-card__body button{
    font-size: 20px;
    border-radius: 999px;
    background-color: #9792E4;
}

/* MAIN - Section .testimonials */

.testimonials{
    margin: 60px 0;
}

.testimonials span{
    display: block;
}

.testimonials__title{
    font-size: 30px;
    color:#9792E4;
    margin: 30px 0;
}

.testimonials__title + p{
    line-height: 30px;
}

.testimonials-card{
    background-color: #9792E4;
    color: #ffffff;
    margin: 30px 0;
    padding: 30px;
}

.testimonials-card__content{
    padding: 20px;
}

.testimonials-card img{
    border-radius: 50%;
    width: 210px;
    height: 210px;
    object-fit: cover;
}

.testimonials-card p{
    line-height: 30px;
    font-size: 20px;
    margin: 20px 0;
}

.testimonials-card p + span{
    font-weight: 700;
    font-size: 20px;
}

.testimonials i{
    font-size: 28px;
}

/* MAIN - Section .benefits */

.benefits{
    background-color: #9792E4;
    color: #ffffff;
    padding: 50px 0;
}

.benefits__title{
    font-size: 30px;
}

.benefits__card{
    background-color: #ffffff;
    color: #000000;
    margin: 30px 0;
    padding: 30px;
}

.benefits__card-header{
    color: #9792E4;
    margin: 20px 0;
}

.benefits__card-header > *{
    margin: 20px 0;
}

.benefits__card-header h1{
    font-size: 50px;
}

.benefits__card-body p{
    line-height: 30px;
    margin-bottom: 30px;
}

.benefits__card-body button{
    background-color: #9792E4;
    color: #ffffff;
    width: 30%;
    font-weight: 700;
}

/* MAIN - Section .about-us */

.about-us{
    margin: 60px 0;
}

.about-us__title{
    font-size: 50px;
    color: #9792E4;
    margin-bottom: 20px;
}

.about-us p{
    line-height: 30px;
    margin-bottom: 30px;
}

.about-us__img{
    position: relative;
    width: 50%;
}

.about-us__img img{
    border-radius: 50%;
    width: 100%;
    margin: 20px 0;
}

.about-us__img i{
    position: absolute;
    top: 10px;
    right: -10px;
    font-size: 70px;
    color: #9792E4;
}

p.about-us__ceo-description{
    color: #9792E4;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}

.about-us button{
    background-color: #9792E4;
    color: #ffffff;
    width: 40%;
}

/* MAIN - Section .get-started */

.get-started{
    background-color: #9792E4;
    color: #ffffff;
    padding: 50px 0;
}

.get-started span{
    display: block;
    color: #ffffffdd;
    margin-bottom: 20px;
}

.get-started h2{
    font-size: 40px;
}

.get-started h1{
    font-size: 60px;
    margin: 20px 0;
    color: #FDC05F;
}

.get-started p{
    line-height: 30px;
    max-width: 60%;
    margin: 30px auto;
}

.get-started button{
    color: #9792E4;
    font-weight: 700;
    font-size: 20px;
    width: 50%;
    padding: 20px;
    margin-bottom: 20px;
}

.get-started a{
    text-decoration: underline;
}

/* FOOTER */

.main-footer{
    background-color: #333333;
    color: #ffffff;
    font-weight: 700;
}

.main-footer p{
    padding: 30px 0;
    max-width: 60%;
    margin: 0 auto;
}

.main-footer a{
    color:#9792E4;
    text-decoration: underline;
}





